#about {
  width: 100%;
  font-family: "Gilroy Bold", Arial, Helvetica, sans-serif;
  background-color: #f6f6f6;
  padding-bottom: 104px;
  margin-top: 107px;
}

.about_h2 {
  width: 156px;
  padding-top: 91px;
  padding-bottom: 17px;
}

.about_p {
  width: 485px;
  text-align: center;
}

.container__about {
  display: flex;
  align-items: center;
  flex-direction: column;
}
