#contacts {
  padding-top: 114px;
padding-bottom: 46px;
}

.contacts__title {
  font-family: "Gilroy-Bold", Arial, Helvetica, sans-serif;
  font-size: 34px;
  margin-bottom: 20px;
}

.flex__contacs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__p {
  font-family: "Gilroy-Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 29px;
}

.cotacts__button {
  font-family: "Gilroy-Bold", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  border-radius: 100px;
  width: 166px;
  height: 38px;
  background-color: black;
}

.flex_small_icons {
  max-width: 341px;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 80px;
}

.footer_class {
  font-family: "Gilroy-Medium", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 123px;
}

.mail {
  /* display: block;
  margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


