header {
  padding: 33px 0;
}

.menu_items {
  font-family: "Gilroy Bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_items a {
  transition: 0.2s;
}

.menu_items:nth-child(5) a {
  margin-right: 0;
}

hr {
  margin: 0 auto;
  width: 940px;
  color: #828282;
}

.menu_items a:hover {
  transition: 0.2s;
  color: #070707;
}

.menu__burger {
  display: none;
}
@media (max-width: 375px) {
  nav {
    border: 0;
  }
  .menu {
    display: none;
  }

  .menu__burger {
    display: block;
    position: fixed;
    top: 60px;
    right: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
