#home {
  font-family: "Gilroy Bold", Arial, Helvetica, sans-serif;
}

.container__text {
  display: flex;
  justify-content: space-between;
}

h1 {
  width: 123px;
  font-size: 47px;
  line-height: 59px;
  letter-spacing: 0em;
  padding-top: 40px;
}

span {
  width: 140px;
  padding-bottom: 49px;
  padding-top: 95px;
}

.home__photo {
  padding-bottom: 104px;
}
