#skills {
  font-family: "Gilroy Bold", Arial, Helvetica, sans-serif;
  padding-top: 91px;
  padding-bottom: 110px;
}

.skills__title {
  text-align: center;
  font-size: 34px;
  line-height: 42px;
}

.container > p {
  margin-top: 69px;
  margin-bottom: 83px;
  text-align: center;
  font-family: "Gilroy-Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills__card > p {
  margin-top: 27px;
  margin-bottom: 40px;
  max-width: 87px;
  min-height: 32px; /* для вырыниывния элемента со звездочками по вертикали*/
  text-align: center;
}

@media (max-width: 425px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 81px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 81px;
  }
}
