@import url(./header.css);
@import url(./home.css);
@import url(./about.css);
@import url(./skills.css);
@import url(./portfolio.css);
@import url(./contacts.css);
html {
  scroll-behavior: smooth;
}
body {
  color: #070707;
  background-color: #ffffff;
  font-family: "Gilroy Medium", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #828282;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  box-sizing: content-box;
}

img {
  display: block;
}

@media (max-width: 375px) {
  h1 {
    font-family: "Gilroy Bold", Arial, Helvetica, sans-serif;
    font-size: 47px;
    line-height: 58px;
  }

  h2,
  button {
    font-family: "Gilroy Bold", Arial, Helvetica, sans-serif;
    font-size: 34px;
    line-height: 42px;
  }

  p,
  span,
  a {
    font-family: "Gilroy Medium", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
  }
  .skills__p {
    font-family: "Gilroy-Bold", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 17px;
  }

  hr {
    display: none;
  }
}
