@import url(./header.css);
@import url(./home.css);
@import url(./about.css); 
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: "Gilroy Medium", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #828282;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  box-sizing: content-box;
}
